.banner {
  color: #fff;

  position: relative;
  min-height: 80vh;
  background: url("../images/bg-pattern-intro.svg"),
    linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position: center center;
  background-size: cover, auto;
  border-radius: 0 0 0 50px;
  overflow: hidden;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 4rem;
    }
    p {
      margin: 20px auto;
    }
    button {
      margin: 10px 10px;
      padding: 6px 30px;
      border-radius: 20px;
      color: inherit;
    }

    button:nth-child(1) {
      background-color: #fff;
      color: $lightRed;
      &:hover {
        background-color: $VeryLightRed;
        color: white;
      }
    }

    button:nth-child(2) {
      border: 2px solid #fff;
      background-color: transparent;
      &:hover {
        background-color: #fff;
        color: $lightRed;
      }
    }
  }
}
