header {
  height: 10vh;
  ul {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-links {
      display: flex;
    }

    .nav-link {
      position: relative;
      margin: 0 30px;
      visibility: visible;
      span {
        position: relative;
        cursor: pointer;

        &::after {
          content: url("../images/icon-arrow-light.svg");
          right: -18px;
          transform: translateY(-10%);
          top: 0;
          position: absolute;
        }
      }
      .drop {
        z-index: 5;
        display: none;
        position: absolute;
        left: 0;
        top: 40px;
        padding: 20px 0;
        padding-left: 15px;
        width: 135px;
        border-radius: 5px;
        background-color: white;
        .drop-item {
          color: black;
          display: block;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    .cta {
      margin-left: auto;
      button {
        margin: 0 10px;
      }
      button:nth-child(1) {
        background: transparent;
        color: inherit;
      }
      button:nth-child(2) {
        background-color: #fff;
        color: $lightRed;
        border-radius: 20px;
        padding: 6px 30px;
        &:hover {
          background-color: $VeryLightRed;
          color: #fff;
        }
      }
    }
  }

  .nav-link.focused .drop {
    display: flex;
    flex-direction: column;
  }

  .hamburger-icon {
    display: none;
    cursor: pointer;
  }

  .mobile-menu {
    display: none;
  }

  .opened {
    display: block;

    border-radius: 10px;

    position: absolute;
    background-color: white;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    z-index: 5;
    width: 80vw;
    max-width: 600px;

    color: black;
    span {
      cursor: pointer;
      padding: 15px 0;

      display: inline-block;
    }
    i {
      color: $VeryLightRed;
    }
    .drop {
      display: none;
    }

    .clicked {
      span {
        color: grey;
      }
      .drop {
        display: flex;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.123);
        border-radius: 5px;
        width: 80%;

        margin: 0 auto;

        color: grey;
        a {
          padding: 5px 0;
        }
      }
    }

    .cta-mobile {
      padding-top: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10%;

        width: 80%;
        height: 1px;
        background-color: rgba(128, 128, 128, 0.534);
      }
    }

    button {
      margin: 10px auto;
      display: block;
    }
    button:nth-child(1) {
      background: transparent;
      color: inherit;
      position: relative;
    }
    button:nth-child(2) {
      background: linear-gradient(
        to right,
        hsl(13, 100%, 72%),
        hsl(353, 100%, 62%)
      );
      color: white;
      border-radius: 20px;
      padding: 6px 30px;
      font-weight: bold;
    }
  }
}

@media (max-width: 1000px) {
  .banner {
    min-height: 85vh !important;
  }
  header {
    .nav-link {
      visibility: hidden;
    }
    .nav-link,
    .cta {
      display: none;
    }
    .hamburger-icon {
      display: inline-block;
    }
  }
}
