footer {
  margin-top: 100px;
  background-color: $darkBlackBlue;
  color: $grayishBlue;
  border-radius: 0 60px 0 0;
  padding-top: 50px;

  span {
    display: inline-block;
    font-weight: 300;
    color: white;
    margin-bottom: 2.5rem;
  }

  .link {
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  footer {
    text-align: center;
    .item {
      margin: 3rem 0;
    }
  }
}
