.fourth-section {
  margin-top: 100px;
  img {
    max-width: 50vw;
  }

  h3 {
    margin-bottom: 20px;
    color: $darkBlue;
    font-size: 3rem;
  }

  p {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .fourth-section {
    .item1 {
      margin-bottom: 50px;
      img {
        max-width: 80vw;
      }
    }

    .item2 {
      text-align: center;
      padding: 0 30px;
    }
  }
}
